body {
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;
}

.header {
    position: relative;
}

.header::before {
    content: "";
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    z-index: -1;
    background: url('../images/header.jpg') center / cover no-repeat;
    filter: blur(7px);
}

.header-navigation {
    background-color: #15263e;
}

.navbar-nav.navbar-center {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.nav-link:hover {
    color: rgb(6, 148, 101) !important;
}

.cv-frontend {
    display: inline-block;
    padding: 18px 28px;
    color: #ffffff;
    text-decoration: none;
}

.cv-frontend:hover {
    background-color: #3c5d8b;
    color: #ffffff;
    text-decoration: none;
}


.header-cv {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-cv__who, 
.header-cv__title {
    color: #ffffff;
    margin: 0;
    margin-bottom: 14px;
    text-align: center;
}

.about-info__skills ul {
    list-style-type: "-";
}

.technical-skills,
.soft-skills {
    margin: 0;
    padding: 0;
}

.technical-skill__item,
.soft-skill__item {
    padding: 4px 0;
}

.about-info__photo {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: 10px solid #28a745;
}

.experience-work__electronic-engineer {
    text-align: center;
}

.projects-info__link {
    text-decoration: none;
}

.projects-info__link:hover {
    color: rgb(211, 143, 55);
}

.footer {
    background-color: #15263e;
    color: #ffffff;
}

.email-link,
.github-link {
    color: #28a745;
    text-decoration: none;
}

.email-link:hover,
.github-link:hover {
    color: rgb(211, 143, 55);
    text-decoration: none;
}

.projects-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}

.projects-list__item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4px;
}

.projects-list__item span {
    line-height: 37px;
}

.disabled {
    cursor: not-allowed;
    pointer-events: none;    
    text-decoration: none;
}