//color
$main-color: #A68E52;
$white-color: #FFFFFF;
$header-text-color: #DDDDDD;
$document-section-color: #161B21;
$document-text-color: #757575;
$dark-color: #212224;
$coromarantColor: #FDFBFB;
$deactive: #F1F1F1;
$footer-text-color: #B3AEAE;
$form-color: #F5F5F5;

//size
$small-font: 10px;
$medium-font: 12px;
$big-medium-font: 14px;
$big-font: 30px;
$line-height-medium: 26px;
$line-height-big: 68px;
$small-spacing: 0.05em;

//font-family
$helveticaNeueFont: 'HelveticaNeueCyr';
$coromorantFont: 'Cormorant', serif;
$prataFont: 'Prata', serif;

@mixin slider($background-image) {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.9) 0.01%, rgba(0, 0, 0, 0) 100%), $background-image;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@mixin text-style-size {
    letter-spacing: $small-spacing;
    font-size: $small-font;
    line-height: $line-height-medium;
}

@mixin spacing-and-line($spacing, $line) {
    letter-spacing: $spacing;
    line-height: $line;
}

@mixin font-style($font, $color, $size: 14px) {
    font-family: $font;
    color: $color;
    font-size: $size;
}

@mixin links-style {
    display: inline-block;
    @include font-style($helveticaNeueFont, $main-color, $big-medium-font);
    line-height: 24px;
    text-decoration: none;
    border-bottom: 1px solid;
}

@mixin content-before($content, $left-position, $font-size, $font-clor) {
    font-family: "Font Awesome 5 Free";
    position: absolute;
    content: $content;
    left: $left-position;
    font-size: $font-size;
    color: $font-clor;
    font-weight: 900;
}