body {
    margin: 0 auto;
    background-color: rgb(77, 100, 79);
}

.container,
.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.container-title {
    font-size: 40px;
    color: rgb(202, 203, 204);
}

.input-wrapper {
    text-align: center;
}

.input-block,
.button-block {
    font-size: 24px;
}

.input-block {
    margin-bottom: 20px;
}

.function-result {
    font-size: 30px;
    color: rgb(202, 203, 204);
}

hr {
    width: 100%;
    margin-bottom: 30px;
}